* {
  margin: 0;
}

body {
  font-size: 16px;
}

.main--component {
  height: auto;
  width: 94%;
  font-family: 'Inter', sans-serif;
  margin: 3% 3%;
  box-shadow: 0px 0px 3px #212121;
}

.header {
  background-color: #F55A5A;
  margin: 0 0 2.5em 0;
}

.header--title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 55px;
  color: #fff;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: -0.075em;
  margin-bottom: 0.625em;
}

.tile--component {
  display: grid;
  grid-template: auto auto / repeat(3, 1fr);
  margin-top: 0.75em;
}

.tile--img > img {
  width: 100px;
  height: 150px;
  margin-left: 1.25em;
} 

.tile--content {
  grid-column: span 2;
  margin: .5em ;
}

.tileContent--loc {
  display: inline-flex;
  flex-direction: row;
  font-size: 0.64rem;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.tileContent--loc--country {
  letter-spacing: 0.17em;
  margin-left: .5em;
  margin-right: 2em;
}

.tileContent--loc > a {
  color: #918E9B;
}

.tileContent--title {
  font-size: 1.56rem;
  font-weight: 600;
  margin: .5em 0;
}

.tileContent--date {
  font-size: .75rem;
}

.tileContent--text {
  grid-column: span 3;
  padding: .75em 1.5em 1.75em 1.5em;
  font-size: .8rem;
  color: #2B283A;
  line-height: 150%;
}

 @media (min-width:480px) {
  .main--component {
    width: 638px;
    height: auto;  
  }

  .final-score {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tile--img > img {
    width: 145px;
    height: 210px;
  } 

  .tile--component {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1em;
  }

  .tile--content,
  .tileContent--text {
    grid-column:2;
    grid-column: span 2;
  }

  .tile--img {
    grid-row: span 3;
  }
 }